# CDS-specific files
.*
!.gitignore
*.dbmdl
*.jfm
*.lnk
*.log
*.scc
*.xls
*.xlsx
_*.json
*proj.user
~*.*
BuildAll.bat
BuildAll.log
CleanAll.bat
ClearUserPrograms.bat
ClearUserSettings.bat
PublishAll.bat
Thumbs.db
VVBackup.bat
bin/
obj/
x86/
Debug/
Release/
packages/
TestData/
!Bin/
Bin/*.exe
Bin/*.dll
Bin/*.xml
Bin/*.config
Bin/OfficeInterop/
Bin/Security/
Audit Results/
