<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IDRISMakeLib.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IDRISMakeLib.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <IDRISMakeLib.My.MySettings>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalCompilePath" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="LastEnv" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVolume" serializeAs="String">
                <value />
            </setting>
            <setting name="LastLibrary" serializeAs="String">
                <value />
            </setting>
        </IDRISMakeLib.My.MySettings>
    </userSettings>
    <applicationSettings>
        <IDRISMakeLib.My.MySettings>
            <setting name="INIPathLocal" serializeAs="String">
                <value>Y:\IDRIS\LOCAL\PROGRAMS\BIN\CONNECT.INI</value>
            </setting>
            <setting name="INIPathTest" serializeAs="String">
                <value>\\SVRTEST2\IDRIS\TEST\PROGRAMS\BIN\CONNECT.INI</value>
            </setting>
            <setting name="INIPathAccept" serializeAs="String">
                <value>\\SVRTEST2\IDRIS\ACCEPT\PROGRAMS\BIN\CONNECT.INI</value>
            </setting>
            <setting name="INIPathProd" serializeAs="String">
                <value>\\SVRGIT\VSS\PRODUCTION\IDRIS\PROGRAMS\BIN\CONNECT.INI</value>
            </setting>
            <setting name="INIPathFIS2" serializeAs="String">
                <value>\\SVRREPORT\IDRIS\NEWFIS\PROGRAMS\BIN\CONNECT.INI</value>
            </setting>
            <setting name="INIPathLocalAlt" serializeAs="String">
                <value>\\DHFILE\H_*\\IDRIS\LOCAL\PROGRAMS\BIN\CONNECT.INI</value>
            </setting>
            <setting name="INIPathEOY" serializeAs="String">
                <value>\\SVRTEST2\IDRIS\EOY\PROGRAMS\BIN\CONNECT.INI</value>
            </setting>
            <setting name="INIPathLocalAlt2" serializeAs="String">
                <value />
            </setting>
            <setting name="INIPathFISTest" serializeAs="String">
                <value>\\SVRREPORTTEST\IDRIS\NEWFIS\PROGRAMS\BIN\CONNECT.INI</value>
            </setting>
            <setting name="INIPathPC" serializeAs="String">
                <value>C:\IDRIS\LOCAL\PROGRAMS\BIN\CONNECT.INI</value>
            </setting>
        </IDRISMakeLib.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
